@media (max-height: 1440px) {

}

@media (max-width: 1200px) {
    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 1072px;
        padding-left: 20px;
        }
}

@media (max-width: 1024px) {
    .header-title {
    margin-left: 222px;
    font-size: 23px;
}

}

@media (max-width: 992px) {

}

@media (max-width: 768px) {

}

@media (max-width: 451px) {

}

@media (max-width: 425px) {

}

@media (max-width: 415px) {

}

@media (max-width: 380px) {

}

@media (max-width: 376px) {

}

@media (max-width: 320px) {

}