@media (max-height: 1440px) {
    .container{
        width: 90%;
    }

}

@media (max-width: 1200px) {
    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 1072px;
        padding-left: 20px;
        }
}

@media (max-width: 1024px) {
    .header-title {
    margin-left: 222px;
    font-size: 23px;
    }
    .get-it {
        height: 371px;
        background: #31C5A1;
        width: 1140px;
}

}

@media (max-width: 992px) {

}

@media (max-width: 768px) {
    .hero {
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
}
}

@media (max-width: 451px) {

}

@media (max-width: 425px) {
        .hero {
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
        }
}

@media (max-width: 415px) {

}

@media (max-width: 380px) {

}

@media (max-width: 376px) {

}

@media (max-width: 320px) {

}